$dark-blue: rgb(8, 5, 37);
$light-blue: rgb(22, 14, 92);
$orange: rgb(255, 126, 41);
$dark-orange: rgba(255, 127, 41, 0.2);
$timer-orange: #49263E;
$font-big: 2rem;
$font-medium: 1.5rem;
$font-small: 1rem;